.project_card {
  height: 30vh;
  width: 30.3%;
  background-color: #30c31c;
  opacity: 0.7;
  top: 20%;
  font-size: 85%;
}
.project_card_padding {
  padding-left: 1rem;
  padding-right: 1rem;
}
.project_card_description {
  font-size: 75%;
}
