.nes-badge {
  position: relative;
  display: inline-block;
  width: 12em;
  height: 1.875em;
  font-size: 0.52em;
  white-space: nowrap;
  vertical-align: top;
  user-select: none;
  /* left: -210%; */
  margin: 0.5em;
  top: 90%;
  margin-top: 2%;
  margin-left: 3.5%;
  animation: badgeFadeIn 1s ease;
}
@keyframes badgeFadeIn {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
