#console_input {
  caret-color: transparent;
  font-size: 70%;
  background-color: transparent;
  top: 30%;
}
#console_input::after {
  content: "";
  position: absolute;
  margin-top: 0px;
  height: 3.5vh;
  border-right: 0.5vw solid #30c31c;
  animation: blink 1s infinite ease;
}
#help_info {
  top: 5%;
}
.help_menu {
  font-size: 85%;
}
#help_table {
  top: 10%;
}
